@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

/*
0 - 600 -> phone
600 - 900 -> tab-port
900 - 1200 -> tab-land
[1200 - 1800] is what we implemeneted
1800 - inifinite -> big-desktop

1em = 16px
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone{
        @media (max-width: 37.5em) { @content };
    }
    @if $breakpoint == tab-port{
        @media (max-width: 56.25em) { @content };
    }
    @if $breakpoint == tab-land{
        @media (max-width: 75em) { @content };
    }
    @if $breakpoint == big-desktop{
        @media (min-width: 112.5em) { @content };
    }
}