$color-primary-light: #7ed56f;
$color-primary: #55c57a;
$color-primary-dark: #28b485;

$color-sec-light: #FFB900;
$color-sec-dark: #FF7700;

$color-ter-light: #2998FF;
$color-ter-dark: #5643FA;

$color-light-grey-1: #F7F7F7;

$color-dark-grey: #777;
$color-black: #000;
$color-white: #FFF;

// GRID - TESTER -->
$horizontal-gap: 6rem;