.header{
	height: 100vh;
	background-image: linear-gradient(to right bottom,rgba($color-primary-light,0.8),rgba(yellow,0.8)),url('../img/hero-small.jpg');
	background-size: cover;
	background-position: top;

	-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	position: relative;

	@media(min-resolution: 192dpi){
		background-image: linear-gradient(to right bottom,rgba($color-primary-light,0.8),rgba($color-primary-dark,0.8)),url('../img/hero.jpg');
	}

	@include respond(tab-port){
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);	
	}

	.header__logo-div{
		position: absolute;
		top: 4%;
		left: 2%;
		
		.header__logo-img{
			height: 3.5rem;
		}
	
	}
}